In [1]:
high_schools = ["Hernandez High School", "Figueroa High Scholl", "Wilson High School", "Wright High School"]
for hs in high_schools:
    print(hs)

Hernandez High School
Figueroa High Scholl
Wilson High School
Wright High School

In [7]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for hs in high_school_types:
    print(f'{hs["High School"]} is a {hs["Type"]} school')

Griffin is a District school
Figueroa is a District school
Wilson is a Charter school
Wright is a Charter school

In [18]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [19]:
import pandas as pd

In [22]:
school_series = pd.Series(high_schools)

In [23]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [29]:
school_df = pd.DataFrame(high_school_dicts)

TypeError: Index(...) must be called with a collection of some kind, 1 was passed

In [27]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [35]:
schools_df = pd.DataFrame()

In [36]:
schools_df['School ID'] = school_id

In [40]:
schools_df['School Name'] = school_name
schools_df['Type of School'] = type_of_school

In [41]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
new_df = pd.DataFrame(high_school_dicts)

In [44]:
new_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [48]:
school_df.index
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [51]:
new_school_id = range(15)
new_school_name = ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School',
                 'Griffin High School', 'Wilson High School', 'Cabera High School', 'Bailey High School',
                 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School',
                 'Johnson High School', 'Ford High School', 'Thomas High School']
new_school_type = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District',
                  'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

In [52]:
new_df_dicts = {'School ID': new_school_id,
               'School Name': new_school_name,
               'School Type': new_school_type}

In [53]:
newdf = pd.DataFrame(new_df_dicts)

In [54]:
newdf

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6     Cabera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter